@using HOFCServerNet.Data.Models;
@model HOFCServerNet.ViewModels.Journee.JourneeViewModel

@{
    int NB_DISPLAYED_MATCH = 6;
    List<Match> matchs = Model.Matchs;
    int startingIndex = 1;
    if(Model.IdJournee > 2)
    {
        startingIndex = Model.IdJournee - NB_DISPLAYED_MATCH/2;
    }
}

<nav class="text-center">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = startingIndex; i <= startingIndex + NB_DISPLAYED_MATCH; i++)
        {
            <li @(Model.IdJournee == i ? "class=disabled" : "")><a asp-controller="Journee" asp-action="Index" asp-route-equipe="@Model.Categorie" asp-route-idJournee="@i" >@i</a></li>
        }
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
@foreach (Match match in matchs)
{
    @await Html.PartialAsync("~/Views/Match/Match", match);
}
