<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="/opt/HOFC/WebLogs"/>
  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="apiLogFile" 
            xsi:type="File"
            fileName="${logDirectory}/WebAPI.${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="controllerLogFile"
            xsi:type="File"
            fileName="${logDirectory}/Controller.${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="rootLogFile" 
            xsi:type="File"
            fileName="${logDirectory}/root.${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="HOFCServerNet.API.*" minlevel="Info" writeTo="apiLogFile" />
    <logger name="HOFCServerNet.Controllers.*" minlevel="Info" writeTo="controllerLogFile" />
    <logger name="*" minlevel="Info" writeTo="rootLogFile" />
  </rules>
</nlog>