<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="/opt/HOFC/WebLogs"/>
  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="apiLogFile" 
            xsi:type="File" 
            fileName="${logDirectory}/WebAPI.log"
            archiveFileName="${logDirectory}/archives/WebAPI.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="15"/>
    <target name="controllerLogFile"
            xsi:type="File"
            fileName="${logDirectory}/Controller.log"
            archiveFileName="${logDirectory}/archives/Controller.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="15"/>
    <target name="rootLogFile" 
            xsi:type="File" 
            fileName="${logDirectory}/root.log"
            archiveFileName="${logDirectory}/archives/root.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"/>
  </targets>

  <rules>
    <logger name="HOFCServerNet.API.*" minlevel="Info" writeTo="apiLogFile" />
    <logger name="HOFCServerNet.Controllers.*" minlevel="Info" writeTo="controllerLogFile" />
    <logger name="*" minlevel="Info" writeTo="rootLogFile" />
  </rules>
</nlog>