@using HOFCServerNet.Data.Models;
@model HOFCServerNet.ViewModels.Actu.ActuViewModel

@{ 
    int i = 0;
}
<div class="row center-block">
    @foreach (Actu actu in Model.Actus)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="@actu.ImageURL" class="img-responsive img-rounded"/>
            <h2>@actu.Titre</h2>
            <div>@actu.Texte</div>
            <div><a asp-controller="Actu" asp-action="Detail" asp-route-url="@actu.URL">Détails</a></div>
        </div>
        i++;
        if (i != 0 && i % 2 == 0)
        {
            <div class="clearfix visible-sm-block"></div>
        }
        if (i != 0 && i % 3 == 0)
        {
            <div class="clearfix visible-md-block"></div>
        }
        if (i != 0 && i % 4 == 0)
        {
            <div class="clearfix visible-lg-block"></div>
        }
    }
</div>