@using HOFCServerNet.Data.Enums;
@model HOFCServerNet.ViewModels.Vote.ResultatMatchViewModel

@foreach (TypeVote typeVote in Enum.GetValues(typeof(TypeVote)))
{
    <h3>@typeVote.ToDescription()</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre de vote</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var voteRes in Model.Results.Where(r => r.TypeVote.Equals(typeVote)))
            {
                <tr>
                    <td>@voteRes.Joueur.Nom</td>
                    <td>@voteRes.Joueur.Prenom</td>
                    <td>@voteRes.Nb</td>
                </tr>
            }
        </tbody>
    </table>
}