body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.googleButton {
    height: 46px;
    width: 191px;
    background-image: url('images/btn_google_signin_light_normal_web.png');
    background-repeat: no-repeat;
}


.facebookButton {
    height: 62px;
    width: 288px;
    background-image: url('images/btn_facebook.png');
    background-repeat: no-repeat;
}

.meta-info {
    margin-bottom: 20px;
    color: #999;
}