body {
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
}
  
.demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.textCentered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.googleButton {
    height: 46px;
    width: 191px;
    background-image: url('images/btn_google_signin_light_normal_web.png');
    background-repeat: no-repeat;
}


.facebookButton {
    height: 62px;
    width: 288px;
    background-image: url('images/btn_facebook.png');
    background-repeat: no-repeat;
}