<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- style sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <link rel="icon" sizes="192x192" href="images/hofc.png">
</head>
<body ng-app="HOFCApp" layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row" class="md-whiteframe-z2">
        <md-button hide-gt-md ng-click="toggleSidenav('left')" class="menu" aria-label="Show Menu">
            <md-icon md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h3>HOFC</h3>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav class="md-whiteframe-z2"
                    md-component-id="left"
                    ng-click="toggleSidenav('left')"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-list>
                <md-list-item ng-repeat="it in menu">
                    <md-item-content>
                        <md-button md-ink-ripple ng-click="selectMenu(it)" ng-href="{{it.lien}}" ng-class="{'selected' : it === selected }">
                            <!--img ng-src="{{it.iconurl}}" class="face" alt="" -->
                            {{it.titre}}
                        </md-button>
                    </md-item-content>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex>
            <div ng-view class="fade"></div>
        </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>

    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="app.js"></script>

</body>
</html>