@using HOFCServerNet.ViewModels.Joueur;
@model JoueurDetailsViewModel
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="nom">Nom</label>
        <input asp-for="Nom" type="text" class="form-control" id="nom" placeholder="Nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input asp-for="Prenom" type="text" class="form-control" id="prenom" placeholder="Prénom">
    </div>
    <button class="btn btn-default" type="submit">Enregistrer</button>
}
