@using HOFCServerNet.ViewModels.Joueur;

@model JoueurViewModel

@if(Model.Message != null)
{
    <div id="message-toast" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script>
        window.onload = function () {
            setTimeout(function () {
                var data = { message: '@Model.Message' };
                document.querySelector('#message-toast').MaterialSnackbar.showSnackbar(data);
            }, 2000)
            
        };
    </script>
}
<div class="mdl-list">
    @foreach (JoueurDetailsViewModel joueur in Model.Joueurs)
    {
    <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>@joueur.Nom</span>
        </span>
        <a class="mdl-list__item-secondary-action" asp-controller="Joueur" asp-action="Details" asp-route-id="@joueur.Id"><i class="material-icons">mode edit</i></a>
    </div>
    }
</div>