<div class='md-padding' layout="row" layout-wrap layout-align="center">
  <md-card style="width:300px" ng-repeat="item in actus">
    <img src="{{item.image}}" class="md-card-image" alt="image caption">
    <md-card-content>
      <h2>{{item.titre}}</h2>
      <p>{{item.texte}}</p>
    </md-card-content>
    <md-card-footer style="text-align:right">
      {{item.date | date:"dd/MM/yyyy"}}
    </md-card-footer>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-href="#/{{(item.url.indexOf('en-image')>-1)?'diaporama':'article'}}/{{item.url}}">Détails</md-button>
    </div>
  </md-card>
</div>