<div>
    <!-- Affichage de la compo -->
    <ul>
        <li ng-repeat="joueur in joueurs | filter:{PosteCompo:''}" ng-if="joueur.PosteCompo">
            {{joueur.Nom}} {{joueur.Prenom}} {{joueur.PosteCompo}}
        </li>
    </ul>
</div>
<md-button ng-click="save()" class="md-raised">Enregistrer</md-button>
<div>
    <!-- Liste des joueurs -->
    <md-table-container>
        <table md-table class="md-primary">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column name="Nom" order-by="Nom"></th>
                    <th md-column name="Prenom" order-by="Prenom"></th>
                    <th md-column name="Equipe"></th>
                    <th md-column name="Actions"></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="joueur in joueurs">
                    <td md-cell>{{joueur.Nom}}</td>
                    <td md-cell>{{joueur.Prenom}}</td>
                    <td md-cell>{{joueur.Categorie}}</td>
                    <td md-cell>
                        <md-select ng-model="joueur.PosteCompo">
                            <md-option value="">-</md-option>
                            <md-option value="G">G</md-option>
                            <md-option value="DG">DG</md-option>
                            <md-option value="DD">DD</md-option>
                            <md-option value="DC">DC</md-option>
                        </md-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>