@using HOFCServerNet.ViewModels.Account;
@model ExternalLoginConfirmationViewModel

<h3>Associate your @ViewData["LoginProvider"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Connexion</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <p class="text-info">
        Succés de la connexion avec <strong>@ViewData["LoginProvider"]</strong>.
        Merci d'entrer votre nom d'utilisateur pour finir l'enregistrement
    </p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input asp-for="Email" class="mdl-textfield__input" type="text" />
        <label class="mdl-textfield__label" asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">Sauvegarder</button>
</form>
