<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a [routerLink]="['/rank/equipe1']" class="mdl-tabs__tab" [ngClass]="{'is-active': team == 'equipe1'}">Equipe 1</a>
        <a [routerLink]="['/rank/equipe2']" class="mdl-tabs__tab" [ngClass]="{'is-active': team == 'equipe2'}">Equipe 2</a>
        <a [routerLink]="['/rank/equipe3']" class="mdl-tabs__tab" [ngClass]="{'is-active': team == 'equipe3'}">Equipe 3</a>
    </div>
</div>
<div class="spinner-div" [ngClass]="{'hidden': !isLoading}">
    <div class="mdl-spinner mdl-js-spinner" [ngClass]="{'hidden': !isLoading, 'is-active': isLoading}"></div>
</div>

<div class="mdl-list">
    <div class="mdl-list__item" *ngFor="let rank of _ranks">
        {{rank.nom}}
    </div>
</div>