<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="/opt/HOFC/ParserLogs"/>
    <targets>
      <target name="actuLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/actu.log"
              archiveFileName="${logDirectory}/archives/actu.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="15" />
      <target name="agendaLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/agenda.log"
              archiveFileName="${logDirectory}/archives/agenda.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="15"  />
      <target name="journeeLogfile"
              xsi:type="File"
              fileName="${logDirectory}/journee.log"
              archiveFileName="${logDirectory}/archives/journee.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="15"  />
      <target name="classementLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/classement.log"
              archiveFileName="${logDirectory}/archives/classement.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="15"  />
      <target name="logfile" 
              xsi:type="File"
              fileName="${logDirectory}/root.log"
              archiveFileName="${logDirectory}/archives/root.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"  />
    </targets>

    <rules>
      <logger name="ActusParser" minlevel="Info" writeTo="actuLogfile" />
      <logger name="AgendaParser" minlevel="Info" writeTo="agendaLogfile" />
      <logger name="JourneeParser" minlevel="Info" writeTo="journeeLogfile" />
      <logger name="ClassementParser" minlevel="Info" writeTo="classementLogfile" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>