<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="/opt/HOFC/ParserLogs"/>
    <targets>
      <target name="actuLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/actu.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
      <target name="agendaLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/agenda.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
      <target name="journeeLogfile"
              xsi:type="File"
              fileName="${logDirectory}/journee.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
      <target name="classementLogfile" 
              xsi:type="File"
              fileName="${logDirectory}/classement.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
      <target name="logfile" 
              xsi:type="File"
              fileName="${logDirectory}/root.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
      <target name="notificationLogFile"
              xsi:type="File"
              fileName="${logDirectory}/notification.${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${logger} ${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
      <logger name="ActusParser" minlevel="Info" writeTo="actuLogfile" />
      <logger name="AgendaParser" minlevel="Info" writeTo="agendaLogfile" />
      <logger name="JourneeParser" minlevel="Info" writeTo="journeeLogfile" />
      <logger name="ClassementParser" minlevel="Info" writeTo="classementLogfile" />
      <logger name="HOFCServerNet.Utils.Notifications.*" minlevel="Info" writeTo="notificationLogFile" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>