<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="C:\\logs\\parser"/>
    <targets>
        <target name="actuLogfile" xsi:type="File" fileName="${logDirectory}\\actu.log" />
      <target name="agendaLogfile" xsi:type="File" fileName="${logDirectory}\\agenda.log" />
      <target name="journeeLogfile" xsi:type="File" fileName="${logDirectory}\\journee.log" />
      <target name="classementLogfile" xsi:type="File" fileName="${logDirectory}\\classement.log" />
      <target name="logfile" xsi:type="File" fileName="${logDirectory}\\root.log" />
    </targets>

    <rules>
      <logger name="ActusParser" minlevel="Info" writeTo="actuLogfile" />
      <logger name="AgendaParser" minlevel="Info" writeTo="agendaLogfile" />
      <logger name="JourneeParser" minlevel="Info" writeTo="journeeLogfile" />
        <logger name="ClassementParser" minlevel="Info" writeTo="classementLogfile" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>