<html lang="en" ng-app="HOFCApp">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <!-- style sheet -->
    <link rel="icon" sizes="192x192" href="images/hofc.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/app.js"></script>
    <meta name="viewport" content="initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">HOFC</span>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">HOFC</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/Home">Actualités</a>
                <a class="mdl-navigation__link" href="/Classement">Classement</a>
                <a class="mdl-navigation__link" href="/Calendrier">Calendrier</a>
                <a class="mdl-navigation__link" href="/Journee/equipe1">Journee Equipe 1</a>
                <a class="mdl-navigation__link" href="/Journee/equipe2">Journee Equipe 2</a>
                <a class="mdl-navigation__link" href="/Journee/equipe3">Journee Equipe 3</a>
                <a class="mdl-navigation__link" href="/Joueurs">Effectif</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">@RenderBody()</div>
        </main>
    </div>
</body>
</html>